html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
}

header {
	width: 600px;
	text-align: right;
}

.my-link {
	margin: 0 10px;
	text-decoration: none;
}

.my-link.disabled {
	color: #ccc;
}

.my-paging {
	display: inline;
	font-size: 16px;
}

nav {
	width: 600px;
	margin: 10px 0;
}

footer {
	width: 600px;
}

.my-output {
	margin: 10px;
	font-family: monospace;
}