:root {

	/* wui-icon */

	--wui-icon-size: 24px;
	--wui-icon-smallsize: 14px;
	--wui-icon-bgcolor-out: rgb(from #353a40 r g b / 70%);
	--wui-icon-bgcolor-over: #353a40;

	/* wui-list */

	--wui-list-shadowcolor: #959da5;
	--wui-list-borderradius: 10px;
	--wui-list-borderwidth: 0;
	--wui-list-bordercolor: #f0f0f3;
	--wui-list-scroll-bgcolor-out: rgb(from #353a40 r g b / 20%);
	--wui-list-scroll-bgcolor-over: rgb(from #353a40 r g b / 40%);
	--wui-list-row-height: 44px;
	--wui-list-row-borderwidth: 1px;
	--wui-list-row-bordercolor-out: #f0f0f3;
	--wui-list-row-bordercolor-over: #f0f0f3;
	--wui-list-row-bgcolor-out: #fdfdfe;
	--wui-list-row-bgcolor-over: #f6f6fa;
	--wui-list-row-textcolor-out: #2d3a47;
	--wui-list-row-textcolor-over: #1f2937;
	--wui-list-row-textcolor-disabled: #d5dce3;
	--wui-list-innerrow-borderwidth: 1px;
	--wui-list-innerrow-bordercolor: #f0f0f3;
	--wui-list-innerrow-bgcolor: #f6f6fa;
	--wui-list-innerrow-textcolor: rgb(from #2d3a47 r g b / 60%);
	--wui-list-buttons-bgcolor: transparent;
	--wui-list-button-size: 48px;
	--wui-list-button-hmargin: 8px;
	--wui-list-button-borderradius: 50%;
	--wui-list-button-bgcolor-enabled: #1e90ff;
	--wui-list-button-bgcolor-disabled: #d5dce3;
}

html,
body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
}

header {
	width: 600px;
	text-align: right;
}

.my-link {
	margin: 0 10px;
	text-decoration: none;
}

.my-link.disabled {
	color: #ccc;
}

.my-paging {
	display: inline;
	font-size: 16px;
}

nav {
	width: 600px;
	margin: 10px 0;
}

footer {
	width: 600px;
}

.my-output {
	margin: 10px;
	font-family: monospace;
}