:root {

	/* wui-icon */

	--wui-icon-size: 24px;
	--wui-icon-smallsize: 14px;
	--wui-icon-bgcolor-out: rgb(from #353a40 r g b / 70%);
	--wui-icon-bgcolor-over: #353a40;

	/* wui-form */

	--wui-form-header-bordercolor: #d5dce3;
	--wui-form-header-titlecolor: #000;
	--wui-form-body-scroll-bgcolor-out: rgb(from #353a40 r g b / 20%);
	--wui-form-body-scroll-bgcolor-over: rgb(from #353a40 r g b / 40%);
	--wui-form-line-bordercolor: #d5dce3;
	--wui-form-fieldset-bgcolor: #fff;
	--wui-form-legend-texttransform: uppercase;
	--wui-form-legend-textcolor: rgb(from #2d3a47 r g b / 60%);
	--wui-form-label-textcolor-out: #2d3a47;
	--wui-form-label-textcolor-focus: #1e90ff;
	--wui-form-label-textcolor-notempty: rgb(from #2d3a47 r g b / 40%);
	--wui-form-label-textcolor-disabled: #d5dce3;
	--wui-form-input-height: 30px;
	--wui-form-input-borderwidth: 1px;
	--wui-form-input-borderradius: 10px;
	--wui-form-input-bordercolor-out: rgb(from #1e90ff r g b / 20%);
	--wui-form-input-bordercolor-focus: #1e90ff;
	--wui-form-input-bordercolor-invalid: #f44343;
	--wui-form-input-bordercolor-disabled: #d5dce3;
	--wui-form-input-bgcolor-out: #f6f6fa;
	--wui-form-input-bgcolor-focus: #f6f6fa;
	--wui-form-input-bgcolor-disabled: #d5dce3;
	--wui-form-input-textcolor-out: #2d3a47;
	--wui-form-input-textcolor-over: #1f2937;
	--wui-form-input-textcolor-disabled: #d5dce3;
	--wui-form-date-opener-iconsize: 30px;
	--wui-form-date-opener-iconcolor-out: #000;
	--wui-form-date-opener-iconcolor-over: #1e90ff;
	--wui-form-date-opener-iconcolor-disabled: #d5dce3;
	--wui-form-date-opener-openicon-src: none;
	--wui-form-date-opener-closeicon-src: none;
	--wui-form-time-opener-iconsize: 30px;
	--wui-form-time-opener-iconcolor-out: #000;
	--wui-form-time-opener-iconcolor-over: #1e90ff;
	--wui-form-time-opener-iconcolor-disabled: #d5dce3;
	--wui-form-time-opener-openicon-src: none;
	--wui-form-time-opener-closeicon-src: none;
	--wui-form-range-thumb-size: 20px;
	--wui-form-range-thumb-bgcolor-out: #1e90ff;
	--wui-form-range-thumb-bgcolor-over: #1e90ff;
	--wui-form-range-thumb-bgcolor-disabled: #d5dce3;
	--wui-form-range-trackbar-height: 7px;
	--wui-form-range-trackbar-borderwidth: 1px;
	--wui-form-range-trackbar-bordercolor-out: #f0f0f3;
	--wui-form-range-trackbar-bordercolor-focus: #1e90ff;
	--wui-form-range-trackbar-bordercolor-disabled: #d5dce3;
	--wui-form-range-trackbar-bgcolor-out: #f6f6fa;
	--wui-form-range-trackbar-bgcolor-focus: #1e90ff;
	--wui-form-range-trackbar-bgcolor-disabled: #d5dce3;
	--wui-form-select-opener-iconsize: 30px;
	--wui-form-select-opener-iconcolor-out: #000;
	--wui-form-select-opener-iconcolor-over: #1e90ff;
	--wui-form-select-opener-iconcolor-disabled: #d5dce3;
	--wui-form-select-opener-openicon-src: none;
	--wui-form-select-opener-closeicon-src: none;
	--wui-form-data-textcolor-out: #1e90ff;
	--wui-form-data-textcolor-disabled: #d5dce3;
	--wui-form-progress-borderwidth: 1px;
	--wui-form-progress-bordercolor: #f0f0f3;
	--wui-form-progress-valuecolor: #1e90ff;
	--wui-form-progress-bgcolor: #f6f6fa;
	--wui-form-text-textcolor-out: #888;
	--wui-form-text-textcolor-disabled: #d5dce3;
	--wui-form-text-linkcolor-out: #1e90ff;
	--wui-form-text-linkcolor-highlight: #1e90ff;
	--wui-form-message-shadowcolor: #959da5;
	--wui-form-message-bgcolor: #fdfdfe;
	--wui-form-message-textcolor: #2d3a47;
	--wui-form-message-highlight-bgcolor: #1e90ff;
	--wui-form-message-highlight-textcolor: #fff;
	--wui-form-mobile-field-bordercolor: rgb(from #1e90ff r g b / 10%);
	--wui-form-mobile-label-textcolor: #444;
	--wui-form-mobile-input-height: 40px;
	--wui-form-mobile-input-bgcolor: rgb(from #1e90ff r g b / 4%);
	--wui-form-mobile-input-height: 34px;
	--wui-form-mobile-input-borderradius: 15px;
}